@use "../foundation/global" as *;

.footer {
    width: 100%;
    height: auto;
    background-color: $theme03_color;

    &-inner {
        max-width: 90%;
        padding-top: 64px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

        @include mq("sp") {
            display: block;
            padding-top: 40px;
            padding-bottom: 60px;
        }
    }

    &-nav {
        display: flex;
        gap: 50px;

        @include mq("tab") {
            gap: 32px;
        }
        @include mq("sp") {
            display: block;
        }
    }

    &-ul {
        color: #fff;

        @include mq("sp") {
            text-align: center;
            margin-top: 40px;
        }
    }

    &__list {

        &:not(:first-child) {
            margin-top: 8px;

            @include mq("sp") {
                margin-top: 4px;
            }
        }
    }

    &__item {
        font-weight: 500;
        position: relative;

        &::after {
            content: '';
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: -3px;
            left: 0;
            background: #fff;
            transform: scale(0, 1);
            transform-origin: right top;
            transition: transform .3s;
        }

        &:hover {

            &::after {
                transform-origin: left top;
                transform: scale(1, 1);
            }
        }

        @include mq("tab") {
            font-size: 14px;
        }
        @include mq("sp") {
            font-size: 12px;
        }

        &--text {

        }
    }

    &-btns {

    }

    
    &__logoArea {
        display: block;
        width: 120px;
        margin-bottom: 28px;
        background-color: #fff;

        &:hover {
            opacity: .8;
        }

        @include mq("sp") {
            margin: 0 auto 24px;
        }
    }
    &__logo {
        width: 100%;
        height: auto;
    }

    &-lineBtn {
        
        @include mq("sp") {
            margin: 0 auto;
        }
    }

    &__copyright {
        padding-bottom: 15px;
        font-size: 12px;
        font-weight: 500;
        color: #fff;
        text-align: center;

        @include mq("sp") {
            font-size: 10px;
        }
    }
}